@font-face {
  font-family: Poppins;
  src: url(../helpers/Poppins-Regular.ttf);
}

.about {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.aboutTop {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.aboutBottom p {
  width: 95%;
  max-width: 1200px;
  font-family: Poppins;
  text-align: justify;
}

.about .aboutBottom h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}

/* Media query for responsiveness on tablet and mobile */
@media only screen and (max-width: 900px) {
  .about {
    height: auto;
  }

  .aboutTop {
    height: 30vh;
    background-size: cover;
  }

  .aboutBottom {
    margin-top: 20px;
    height: auto;
  }

  .aboutBottom p {
    width: 90%;
    font-size: 16px;
  }

  .about .aboutBottom h1 {
    font-size: 50px;
    transform: translateY(0);
  }
}
